# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Data (keep raw data out if large)
data/raw/
data/images/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
